<form class="container" [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field>
    <mat-label>Ime tima</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <label>Doktor:</label>
  <mat-form-field>
    <mat-select placeholder="Liječnik" formControlName="doctorId">
      <mat-option *ngFor="let option of doctors$ | async" [value]="option.id">
        {{ option.name + " " + option.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button
        mat-icon-button
        type="button"
        id="delete-button"
        (click)="onDoctorRemoveClick(i)"
      >
        <mat-icon>delete</mat-icon>
      </button> -->
  <!-- <button
      mat-raised-button
      (click)="addDoctorId()"
      [disabled]="!form.get('doctorIds')?.valid"
    >
      Dodaj doktora
    </button> -->
  <br />

  <label>Tehničar:</label>
  <mat-form-field>
    <mat-select placeholder="Tehničar" formControlName="nurseId">
      <mat-option *ngFor="let option of nurses$ | async" [value]="option.id">
        {{ option.name + " " + option.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button
        mat-icon-button
        type="button"
        id="delete-button"
        (click)="onNurseRemoveClick(i)"
      >
        <mat-icon>delete</mat-icon>
      </button> -->
  <!-- <button
      mat-raised-button
      (click)="addNurseId()"
      [disabled]="!form.get('nurseIds')?.valid"
    >
      Dodaj tehničara
    </button> -->

  <button
    mat-raised-button
    *ngIf="!editMode; else editButton"
    type="submit"
    [disabled]="!form.valid"
  >
    Stvori tim
  </button>

  <ng-template #editButton>
    <button mat-raised-button type="submit" [disabled]="!form.valid">
      Spremi promjene
    </button>
  </ng-template>
</form>
