<form class="container" [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field>
    <mat-label>Ime tima</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <label>Doktori:</label>
  <div formArrayName="doctorIds">
    <div *ngFor="let control of doctorIds.controls; index as i">
      <mat-form-field>
        <mat-select placeholder="Liječnik" [formControlName]="i">
          <mat-option
            *ngFor="let option of doctors$ | async"
            [value]="option.id"
          >
            {{ option.name + " " + option.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        id="delete-button"
        (click)="onDoctorRemoveClick(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button
      mat-raised-button
      (click)="addDoctorId()"
      [disabled]="!form.get('doctorIds')?.valid"
    >
      Dodaj doktora
    </button>
  </div>
  <br />
  <label>Tehničari:</label>
  <div formArrayName="nurseIds">
    <div *ngFor="let control of nurseIds.controls; index as i">
      <mat-form-field>
        <mat-select placeholder="Tehničar" [formControlName]="i">
          <mat-option
            *ngFor="let option of nurses$ | async"
            [value]="option.id"
          >
            {{ option.name + " " + option.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        id="delete-button"
        (click)="onNurseRemoveClick(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button
      mat-raised-button
      (click)="addNurseId()"
      [disabled]="!form.get('nurseIds')?.valid"
    >
      Dodaj tehničara
    </button>
  </div>
  <button
    mat-raised-button
    *ngIf="!editMode; else editButton"
    type="submit"
    [disabled]="
      !form.valid ||
      (form.get('doctorIds')?.value?.length === 0 &&
        form.get('nurseIds')?.value?.length === 0)
    "
  >
    Stvori tim
  </button>
  <ng-template #editButton>
    <button
      mat-raised-button
      type="submit"
      [disabled]="
        !form.valid ||
        (form.get('doctorIds')?.value?.length === 0 &&
          form.get('nurseIds')?.value?.length === 0)
      "
    >
      Spremi promjene
    </button>
  </ng-template>
</form>
