.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
}
.buttons{
    background-color: navy
}

.list{
    text-align: center;
}
.img{
    text-align: center;
    opacity: 60%;
}