<body>
  <app-main-navigation
    *ngIf="user$ | async; else authNavigationTemplate"
  ></app-main-navigation>
  <ng-template #authNavigationTemplate>
    <app-auth-navigation></app-auth-navigation>
  </ng-template>

  <h1 style="font-size: 3rem; text-align: center">
    Dobro došli na sustav naručivanja HZZO-a
  </h1>

  <button (click)="test()">Test</button>

  <p>
    Jedinstveni kalendar naručivanja predstavlja unaprjeđenje postojećeg sustava
    eNaručivanja putem Centralnog zdravstvenog informacijskog sustava Republike
    Hrvatske (CEZIH). Izmjene koje se uvode u sustav za temelj imaju povezivanje
    bolničkih informatičkih sustava (BIS) u Jedinstveni kalendar naručivanja,
    transparentan svim razinama zdravstvene zaštite.
  </p>

  <div class="img">
    <img
      src="assets\img\hzzo.jpg"
      width="30%"
      draggable="false"
      (dragstart)="(false)"
      class="unselectable"
    />
  </div>
  <app-main-footer class="footer"></app-main-footer>
</body>
