<app-main-navigation></app-main-navigation>

<div>
  <app-kalendar [events]="events" [refresh]="refresh"></app-kalendar>
  <div class="btn_container">
    <button class="btn btn-primary" (click)="addWorkingHours()">
      Određivanje radnog vremena
    </button>
    <button class="btn btn-primary" (click)="defineRules()">
      Definiranje pravila
    </button>
    <button
      class="btn btn-primary"
      [matBadge]="badgeContent"
      (click)="recordAttendance()"
    >
      Potvrđivanje dolaznosti pacijenata
    </button>
  </div>
</div>

<app-main-footer></app-main-footer>
