<app-auth-navigation></app-auth-navigation>

<div class="container">
  <h1>Registriraj se</h1>

  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lozinka</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ponovi lozinku</mat-label>
      <input
        matInput
        type="password"
        placeholder="Repeated Password"
        formControlName="repeatedPassword"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ime</mat-label>
      <input matInput type="text" placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prezime</mat-label>
      <input
        matInput
        type="text"
        placeholder="Surname"
        formControlName="surname"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Spol</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="musko">Muško</mat-option>
        <mat-option value="zensko">Žensko</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Broj mobitela</mat-label>
      <input
        matInput
        type="text"
        placeholder="Phone number"
        formControlName="phoneNumber"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Vaš liječnik" formControlName="doctor">
        <mat-option *ngFor="let option of doctors$ | async" [value]="option.id">
          {{ option.name + " " + option.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" color="primary" mat-raised-button>Potvrdi</button>

    <div class="info">
      <a routerLink="/login">Već imaš račun? Prijavi se!</a>
    </div>
  </form>
</div>

<button (click)="test()">test</button>
