<app-main-navigation></app-main-navigation>

<div class="container">
  <h1>Novi {{ type == "doctor" ? "liječnik" : "medicinski tehničar" }}</h1>

  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lozinka</mat-label>
      <input
        matInput
        type="password"
        placeholder="Lozinka"
        formControlName="password"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ponovi lozinku</mat-label>
      <input
        matInput
        type="password"
        placeholder="Ponovi lozinku"
        formControlName="repeatedPassword"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ime</mat-label>
      <input matInput type="text" placeholder="Ime" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prezime</mat-label>
      <input
        matInput
        type="text"
        placeholder="Prezime"
        formControlName="surname"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Spol</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="musko">Muško</mat-option>
        <mat-option value="zensko">Žensko</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="toggle">
      <mat-label>Datum rođenja</mat-label>
      <input
        formControlName="dateOfBirth"
        placeholder="MM/DD/YYYY"
        matInput
        [matDatepicker]="dateOfBirth"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateOfBirth"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateOfBirth></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Broj telefona</mat-label>
      <input
        matInput
        type="text"
        placeholder="Broj telefona"
        formControlName="phoneNumber"
      />
    </mat-form-field>

    <button type="submit" mat-raised-button>Potvrdi</button>
  </form>
  <a mat-raised-button class="back" [routerLink]="'/admin'">Odustani</a>
</div>
