.btn_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.example-margin {
    margin: 2rem;
  }

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}